@{
    ViewBag.Title = "Home Page";
}
<button id="t">Click to test ajax error</button>

<div>The Pthread ID : @ViewBag.PThreadId</div>
<div>The thread ID : @ViewBag.ThreadId</div>
<div>The HttpContext is null : @ViewBag.Context</div>
<div>The AppDomain : @ViewBag.AppDoamin</div>
<div>The AppDomainId : @ViewBag.AppDoaminId</div>
<div>Environment ID : @ViewBag.HostingEnvironmentID</div>
<div>Site name : @ViewBag.HostEnvironmentSiteName</div>


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<img src="@ViewBag.Img" />
<div id="o_test">
    <iframe id="o_f"></iframe>
</div>
<div id="t_test">

</div>



@section scripts{
@*<script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>*@

<script src="https://online.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script>
    window.addEventListener('message', function (event) {

        // IMPORTANT: Check the origin of the data! 
        //if (~event.origin.indexOf('http://yoursite.com')) {
        // The data has been sent from your site 

        // The data sent with postMessage is stored in event.data 
        console.log(event.data);
        //} else {
        //    // The data hasn't been sent from your site! 
        //    // Be careful! Do not use it. 
        //    return;
        //}
    });

    $(document).ready(function () {
        var placeholderDiv = document.getElementById("t_test");
        //?:embed=y&:showAppBanner=false&:showShareOptions=true&:display_count=no&:showVizHome=no

        var url = "https://us-east-1.online.tableau.com/t/deadmo1529/views/ExecutiveSalesforce/SalesSummary";
        var options = {
            hideTabs: true,
            width: "800px",
            height: "700px",
            onFirstInteractive: function () {
                console.log("error");
            }
        };
        var viz = new tableau.Viz(placeholderDiv, url, options);

        $("#t").on('click', function () {
            $.ajax({
                url: "/test",
                error: function (d) {
                    alert(d.responseText);
                }
            })
        })
    })
</script>
}